<div class="row"> 
  <% @post.each do |post|%> 
    <div class="col-4">
      <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= post.created_at %></div>
          <div class="card-body text-primary">
            <p class="card-text"><%= post.content %></p>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>


